page-intro {
    .slide_image img {
        width: 240px;
        }

        .slide_skip {
            float: right;
            font-size: 15px;
        }

        .slide_finish {
            float: center;
            font-size: 20px;
        }
}
